/**
	#0C1821
	#893168
	#5887FF
	#FDFFFC
*/

html {
	scroll-behavior: smooth;
}

body {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'Exo', sans-serif;
}

h1 {
	font-size: 2em;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: #5CC8FF;
	padding-bottom: 6px;
	width: 50%;
}

h1>span {
	color: #5CC8FF;
}

a {
	color: inherit;
	font-size: inherit;
	align-content: inherit;
	text-decoration: none;

}

.button {
	background-color: #5CC8FF;
	border-radius: 3px;
	padding: 6px;
	cursor: pointer;
}

/**
	Header
*/
#site-header {
	padding-bottom: 32px;
}

#site-header-bar {
	margin: 0px;
	padding: 12px;
	flex-direction: row;
	display: flex;
	background-color: #0C1821;
	color: #FDFFFC
}

#site-title-container {
	flex: 2;
	vertical-align: bottom;
	padding-left: 64px;
	padding: 12px 0px 12px 64px
}

#site-title {
	height: 100%;
	font-size: 2em;
}

#site-title>span {
	color: #5CC8FF;
	font-weight: bold;
}

#site-navigation {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	margin-right: 32px;
}

#site-navigation-social {
	justify-content: space-evenly;
	display: flex;
}

.navigation-social-icon {
	font-size: 2em;
	padding: 8px;
	text-align: center;
	color: #5CC8FF;
	transition: color 0.5s;
}

.navigation-social-icon:hover {
	color: #FDFFFC
}

.navigation-item {
	flex: 1;
	display: table;
	justify-content: center;
	align-content: center;
	max-width: 140px;
	width:  120px;
	margin-left: 12px;
	border-style: solid;
	border-color: #5CC8FF;
	border-width: 0px 0px 5px 0px;
	padding-bottom: 6px;
	transition: border-color 0.5s;
}

.navigation-button {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 6px;
	width: 100%;
	max-width: 120px;
	height: 40px;
	margin: 24px;
	transition: font-size 0.5s;
}

.navigation-item:hover {
	border-color: #FDFFFC;
	cursor: pointer;
}

.navigation-item:hover>.navigation-button {
	font-size: 1.1em;
}

/**
	Content
*/

#site-content-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #FDFFFC;
}

.site-content {
	display: flex;
	flex-direction: column;
	animation: fadein 2s;
	padding: 32px;
}

.pop-out {
	box-shadow: 3px 3px 8px #274060;
	border-radius: 5px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.section-title {
	width: 100%;
}

/**
	Highlights
*/

#highlights {
	display: flex;
	flex-direction: row;
}

.highlight-background {
	background-image: url("/static/image/download.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.full-page {
	flex:1;
}

#site-header.full-page {
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
}

#highlights-hero-container {
	background-color: hsla(214, 42%, 26%, 0.5);
	padding: 8px 16px;
	border-radius: 8px;
	display: inline-table;
}

#highlights-hero-img {
	border-radius: 100%;
	width: 17rem;
	background-image: url("/static/image/profile.png");
	background-position: center;
	background-position: center;
	background-size: cover;
	height: 17rem;
}

#highlights-content {
	padding: 32px 64px 0px 0px;
	flex: 1;
	display: flex;
	margin: auto;
}

#highlights-content > p {
	background-color: #274060aa;
	padding: 12px;
	color: #FDFFFC;
	border-radius: 5px;
}

#highlights-content > p > span {
	color: #5CC8FF;
	font-weight: bold;
}

/**
	Projects
*/

#projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project-container {
	flex: 1;
	flex-basis: 20p;
	margin: 1rem;
	transition: box-shadow 0.5s;
	flex-direction: row;
	animation: fadein 2s;
	background-color: rgba(253, 255, 252, 0.8);
	height:  100%;
	border-radius: 5px;
	padding: 1rem;
	max-width: 35%;
}

.project-container:hover {
	box-shadow: 5px 5px 16px #274060;
	background-color: #FDFFFC;
}

.project-card-header {
	font-size: 2em;
	padding: 6px;
	margin-left: 12px;
	height: 60px;
}

.project-card-image {
	justify-content: center;
	background-position: center;
	background-size: cover;
	height: 13rem;
	padding: -1rem;
}

.project-card-image>img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 400px;
	color: black;
}

.project-card-description {
	text-overflow: ellipsis;
	overflow: hidden;
}

.project-card-footer {
	padding: 12px;
	display: flex;
	justify-content: flex-end;
	display: none;
}

/**
	Footer
*/
#site-footer {
	background-color: #0C1821;
	color: #FDFFFC;
	margin-top: 64px;
	padding: 24px 24px 24px 32px;
}




@media screen and (max-width: 1500px){

}

@media screen and (max-width: 992px){
	.project-container {
		flex: 1 0 90%;
		max-width: 90%;
		margin: auto;
	}

	body {
		font-size: 24px;
	}

	#highlights {
		flex-direction: column-reverse;
	}

	#highlights.site-content {
		padding: 2rem;
	}

	.project-card-image {
		height: 20rem;
	}

	#highlights-hero-img {
		margin:auto;
		width: 300px;
		height: 300px;
	}

	#highlights-content {
		padding: 0px;
	}
}